@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Passion+One&display=swap');

:root{
    --mainColor: #fce6ef;
    --mainColorLight:#a69da1;
    --secondaryColor: white;
    --textColor: #484848;
    --otherColor: #74a580;

}

.title{
    font-size: 2rem;
    padding: 10rem 0 0 0;
    color: var(--mainColorLight);
    margin: 0 2rem;
}

.products{
    display:grid;
    justify-items: center;
    grid-template-columns:repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1rem 1rem;
    box-sizing: border-box;
    padding: 1.5rem 0;
}

.product{
    display:flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid var(--otherColor);
    border-radius: 0.5rem;
    background-color: white;
}

.product_img img{
    width: 12rem;
}

.product_info{
    padding: 1rem;
}

.product_info h1{
    font-weight: 600;
    font-size: 1rem;
    color:var(--textColor);
    text-align: center;
    
}

.product_info p{
    font-weight:bold;
    color:var(--otherColor);
    font-size: 1rem;
    text-align: center;
}

.product-btn{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    padding: 0;
}

.add-cart{
    background-color: var(--otherColor);
    font-size: 1.3rem;
    color: white;
    font-weight:600;
    border: 1px solid var(--otherColor);
    cursor:pointer;
    width: 12rem;
    height: 2.2rem;
    margin: 1rem;
    
}


