:root{
    --mainColor: #fce6ef;
    --mainColorLight:#a69da1;
    --secondaryColor: white;
    --textColor: #484848;
    --otherColor: #74a580;

}

.shopping-cart{
    display:flex;
    justify-content:center;
    width:100%;
    height:100%;
    margin: 2rem;
    color: var(--textColor);
}

.cart{
    display:flex;
    flex-direction:column;
    width: 60%;
    height: 60%;
    background-color: var(--mainColor);
    margin:2rem;
    align-items: center;
}

.cart h2{
    text-align: center;
    font-size: 2rem;
}


.cart-center{
    width: 90%;
    display:flex;
    justify-content:center;
    
}


.img-item{
    width: 100%;
    padding: 10%;
}
.cart-item{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 80%;
    margin: 1rem;
    margin-bottom: 0;
    background-color: white;
    border: 1px solid var(--mainColorLight);
    justify-content:center;
    align-items: center;

}

.item-info{
    margin-left: 2rem;
}

.item-title{
    font-size: 1rem;

}

.remove-item{
    display:flex;
    justify-content:center;
    

}
.cart-footer{
    display:flex;
    flex-direction:column;
    width: 80%;
    background-color: white;
    border: 1px solid var(--mainColorLight);
    margin: 1rem;
    align-items:center;
}

.button-pay{
    width: 20%;
    margin:1rem;
}
