:root{
    --mainColor: #fce6ef;
    --mainColorLight:#a69da1;
    --secondaryColor: white;
    --textColor: #484848;
    --otherColor: #74a580;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-image: linear-gradient(-225deg, white 0%, #E3FDF5 100%);
background-attachment: fixed;
background-repeat: no-repeat;
}


.shopping-cart{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.cart{
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #c0e1c8 50%, #fce6ef 50%);
}

.cart h2{
    margin: 2% auto 10% auto;
    text-align: center;
    font-size: 250%;
    color: #3e403f;
}


.cart-center{
    display: flex;
    flex-direction: column;
    align-items:center;

}

.img-item{
    width: 100%;
    padding: 10%;
}
.cart-item{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 80%;
    margin: 1rem;
    margin-bottom: 0;
    background-color: white;
    border: 1px solid var(--mainColorLight);
    justify-content:center;
    align-items: center;
    color: var(--textColor);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    
    
}

.item-info{
    margin-left: 2rem;
    padding:0.5rem;
}

.item-title{
    font-size: 1rem;

}

.price{
    font-size:0.9rem;
    margin: 1rem 2rem;
}

.remove-item{
    display:flex;
    justify-content:center;
    cursor:pointer;
    

}
.cart-footer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0;
    background-color: white;
    justify-content:center;
    align-items: center;
    color: var(--textColor);
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

.div-quantity{
    display:flex;
    flex-direction:row;
    margin:1rem;
}

.quantity{
    font-size: 0.9rem;

}
.plus-minus-icon{
    width: 1.8rem;
    padding:0.1rem;
    cursor:pointer;
}


.button-pay{
    width: 20%;
    margin:1rem;
    cursor:pointer;
}
